// 拼接图片路径 -> 没有用到
var filters = {
    toFix: function (value) {
        return value.replace(',')
    },
    splitFile: function(value) {
        // return config.file_base_url + value
        return 'https://exam.codeworker.cn/uploads/' + value
    }
}
module.exports = {
    toFix: filters.toFix,
    splitFile: filters.splitFile
}
